{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-2">
			<div class="border-right mt-3 pr-3">
				{{ form_start(form) }}

				{{ form_row(form.searchbar) }}
				{{ form_row(form.category) }}
				Prix
				<div class="row  m-0 mb-4 ">
					<div class="col-md-6 p-0 pr-1">
						{{ form_widget(form.minPrice) }}
					</div>
					<div class="col-md-6  p-0 pl-1">
						{{ form_widget(form.maxPrice) }}
					</div>
				</div>
				{{ form_rest(form) }}
				<a href="{{path('home')}}">Filtre par défaut</a>
				{{ form_end(form) }}
			</div>
		</div>
		<div class="row col-md-10">
			{% for product in products %}
				<div class="col-md-3 mt-3 ">
					<div class="card card-to-hover">

						<a href="{{path('product_custom_show',{'id': product.id})}}" class="" style="">
							<div style="text-align:center">
								<img src="images/products/{{product.picture.name}}" style="max-width:100%;height:150px"/>
							</div>

						</a>
						<a href="{{path('product_custom_show',{'id': product.id})}}" class="card-footer card-center-footer fontSecondaryColor">{{ product.price}}
							euros</a>
					</div>
				</div>
			{% endfor %}
		</div>


	</div>
{% endblock %}
