{% extends 'base.html.twig' %}

{% block title %}Product index
{% endblock %}

{% block body %}
	<h1>Les produits</h1>

	<table class="table">
		<thead>
			<tr>

				<th>Nom du produit</th>
				<th>Description</th>
				<th>Prix à l'unité</th>
				<th>Quantité en stock</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.name }}</td>
					<td>{{ product.description }}</td>
					<td>{{ product.price }}</td>
					<td>{{ product.quantity }}</td>
					<td>
						<a  href="{{ path('product_custom_show', {'id': product.id}) }}">Montrer</a>
                        <span>|</span>
						<a href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
