{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}
	<a href="{{ path('home') }}">Revenir à la liste des produits</a>
	<div class="row">
		<div class="col-md-9">
			<div class="border-right pr-3">

				<div class="row">
					<div class="row col-md-6" style="text-align:center">
						{% for picture in product.pictures %}
							<div class="col">
								<img class="  border rounded border-dark" src="/images/products/{{picture.name}}" style="max-width:100%"/>
							</div>
						{% endfor %}
					</div>
					<div class="col-md-6">
						<div style="text-align:center">
							<h3>{{product.name}}</h3>
						</div>
						<div>
							<b>Prix :</b>
							<span class"color-red">
								{{product.price}}
								euros</span>
						</div>
						<div>
							<b>Quantité en stock :</b>
							<span class"color-red">
								{{product.quantity}}
							</span>
						</div>

						<div>
							<b>Description du produit
							</b>
							<div>{{product.description}}</div>
						</div>
						<hr/>
						{% if app.user %}
							{{form_start(addToBasketform)}}
							{{form_end(addToBasketform)}}
						{% else %}
							<a href="{{ path('app_login')}}">Veuillez vous connecter pour acheter</a>
							ou bien
							<a href="{{ path('app_register')}}">Vous inscrire</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% if app.user %}
			<div class="col-md-3">
				<div class="border border-dark rounded p-1">
					<div style="text-align:center">
						<h3>Panier</h3>

					</div>
					<div>
						{{ render(controller(
        'App\\Controller\\BasketController::basketWidget'
    )) }}
						<button class="form-control btn primaryColor text-white mt-3">Commander
							<i class=" fas fa-shopping-cart"></i>
						</button>
					</div>
				</div>
			</div>
		{% endif %}

	</div>
{% endblock %}
