<style>
	a:hover {

		text-decoration: none;
	}
</style>

<nav class="navbar navbar-expand-lg border  primaryColor ">

	<div class="container font-color-in-div">
		<div class="navbar-header">
			<a href="{{ path('home') }}" class="navbar-brand fontSecondaryColor">
				<i class="fas fa-leaf"></i>
				Anna</a>
		</div>


		{% if app.user %}
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{path("dashboard_admin")}}">Dashboard Admin</a>
			{% endif %}

			<ul class="nav navbar-nav">
				<li>
					<a class="nav-link" href="{{path('basket')}}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-shopping-cart"></i>
						Panier
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Mon compte
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">


						<a class="dropdown-item" href="{{path('order')}}">
							<i class="fas  fa-parachute-box"></i>
							Mes commandes
						</a>

						<a class="dropdown-item" href="{{path('user_parameter',{id:app.user.id})}}">
							<i class="fas  fa-cog"></i>
							Paramètre
						</a>
						<hr/>
						<a class="dropdown-item" href="{{path('shop_index')}}">
							<i class="fas  fa-store"></i>
							Ma boutique
						</a>
						<hr/>
						<a class="dropdown-item" href="{{path('app_logout')}}">
							<i class="fas  fa-sign-out-alt"></i>
							Deconnexion
						</a>
					</div>
				</li>
			</ul>
		{% else %}

			<ul class="nav navbar-nav">
				<li class="mr-2">
					<a class="btn border rounded borderSecondaryColor" href="{{ path('app_register')}}">Inscription
					</a>
				</li>

				<li class="">
					<a class="btn border rounded borderSecondaryColor" href="{{ path('app_login')}}">Login</a><li/>
				</li>
			</ul>
		{% endif %}


	</div>
</nav>

<div class="container alerts"></div>
